.tile-one{
    background: url('https://source.unsplash.com/random/800x800') no-repeat center center;
}

.tile-two{
    background: url('https://source.unsplash.com/random/640x490') no-repeat center center;
}

.tile-three{
    background: url('https://source.unsplash.com/random/1000x900') no-repeat center center;
}

.tile-four{
    background: url('https://source.unsplash.com/random/900x800') no-repeat center center;
}

.tile-five{
    background: url('https://source.unsplash.com/random/800x900') no-repeat center center;
}

.tile-six{
    background: url('https://source.unsplash.com/random/1920x1080') no-repeat center center;
}

.box-text{
    font-size: 3rem;
    padding-right: 50%; 
    padding-left: 50%;
    padding-top: 10vh;
    font-weight: 900;
    color: whitesmoke;
}
